

PORT=8001

MONGO_URI=mongodb://localhost:27017/oma_bank

JWT_SECRET=
JWT_EXPIRES_IN=1d

NIBSS_BASE_URL=https://nibssbyphoenix.onrender.com

NIBSS_API_KEY=
NIBSS_API_SECRET=

NODE_ENV=development

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=YOUR_GMAIL_APP_PASSWORD

EMAIL_FROM=OMA Bank <yourgmail@gmail.com>

FRONTEND_RESET_URL=http://localhost:8001/app/#/reset-password

SINGLE_TRANSFER_LIMIT=500000
DAILY_TRANSFER_LIMIT=1000000

ADMIN_API_KEY=YOUR_GENERATED_RANDOM_KEY